doctype html
html(lang='en')
  head
    title musicstoresoundVIBES
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon",href="assets/img/favicons/favicon.ico")
    link(rel='stylesheet', href='assets/css/main.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway:300",rel="stylesheet",type="text/css")
    
  body
    include assets/css/4-pages/header
    include assets/css/4-pages/about
    include assets/css/4-pages/top
    include assets/css/4-pages/subscribe
    include assets/css/4-pages/player
    
        script(src='http://code.jquery.com/jquery-1.9.1.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js')
        script(src='assets/js/jquery-2.1.4.min.js')
        script(src='assets/js/functions.js', type='text/javascript')