section.about
    .container.about-wraper
        .row.text-row
            p.twelve.columns.about-text Hello ,we are <strong>soundVIBES</strong> and we`re here to offer you the best tool in listening to the best music there is and find out where is you favorite artist or song placed in our monthly TOP10!<br><u>find us on</u>
            
        .row.buttons
            a(href="https://play.spotify.com/chart/6X2yNXJMag4H5n29NMcOxo",target="_blank").spotify.columns.four Spotify
            p.columns.four.space  asda
            a(href="https://www.youtube.com/channel/UC-FQUIVQ-bZiefzBiQAa8Fw",target="_blank").youtube.columns.four Youtube
            audio(src="assets/img/text.mp3") play