header
    video#myVideo(autoplay,loop,muted)
        source(src="assets/img/video.mp4",type="video/mp4")
        source(src="assets/img/video.webm",type="video/webm")
   
    .logo
    a(href="#").lead <strong>soundVIBES</strong>
   
    

    