section.player
    .audio-player
        .audio-timer
            .progress-bar
                span.progress
           
            
        .audio-buttons
            button.play-button
            button.pause-button
            button.volume-button
            input(type="range" ,min="0",max="10" value="5").volume
            .audio-info
                span.song
                    
           
         